<style>


    .col s15,
    .col m15,
    .col l15,
    .col xl15 {
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
    }


    .col s15 {
        width: 20%;
        float: left;
    }

    @media (min-width: 600px) {
        .col m15 {
            width: 20%;
            float: left;
        }
    }

    @media (min-width: 992px) {
        .col l15 {
            width: 20%;
            float: left;
        }
    }
    @media (min-width: 1200px) {
        .col xl15 {
            width: 20%;
            float: left;
        }
    }








</style>

<br />
<div ng-controller="AdviceController">
    <div class="row">
        <div class="col m4"></div>
        <div class="col m4 s12">
            <div class="card grey lighten-4">
                <div class="card-content" style="text-align:center">
                    <span style="color:black;"class="card-title teal-text">Current strategy: <b>{{currentStrategy.getName()}}</b> </span>
                    <span style="color:black;"class="card-title teal-text">Tipology: <b>{{currentStrategyTipology}}</b> </span>
                </div>
                <div style=" margin:5pt;margin-left:8pt;height:auto">
                    <assets-class-graph percentages=currentStrategy.getAssets()></assets-class-graph>
                </div>
                <br />
            </div>
        </div>
    </div>

    <div class="container" >

        <div class="row">
            <div class="col m1"></div>

            <div class="col m15 s15 " ng-repeat="defStrategy in standardStrategies">
                <div class="card grey lighten-4">
                    <div class="card-content" style="text-align:center">
                        <span style="color:black;"class="card-title teal-text"><b>{{defStrategy.name}}</b> </span>
                    </div>
                    <div style=" margin:5pt;margin-left:8pt;text-align:center">
                        <b style="font-size:2em;font-color:dimgrey;">+10%</b>
                    </div>
                    <br/>
                    <div style="text-align:center">
                        <button class="btn" style="margin:5pt" ng-click="changeStrategy()">Change</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--

<div class="row">
    <div class="col m3 s12" ng-repeat="defStrategy in standardStrategies">
        <div class="card grey lighten-4">
            <div class="card-content" style="text-align:center">
                <span style="color:black;"class="card-title teal-text"><b>{{defStrategy.name}}</b> </span>
            </div>
            <div style=" margin:5pt;margin-left:8pt;text-align:center">
                <b style="font-size:2em;font-color:dimgrey;">+10%</b>
            </div>
            <br />
            <div style="text-align:center">
                <button class="btn" style="margin:5pt" ng-click="changeStrategy()">Change</button>
            </div>
        </div>
    </div>
</div>-->
