<div style="text-align:center;width:50%;padding:2%;margin-left:auto;margin-right:auto">
    <canvas id="pie" class="chart chart-pie" chart-data="assetsData" chart-labels="assetsLabel" chart-options="options">
    </canvas>
</div>
<div style="height:50pt;text-align:center;margin-top:10pt">
    <div class="chip" style="float:left;width:48%" ng-if="ifLabel[0]">
        <img src="../img/bonds.jpg" alt="Bonds">
        Bonds
    </div>
    <div class="chip" style="float:left;width:48%" ng-if="ifLabel[1]">
        <img src="../img/stocks.jpg" alt="Stocks">
        Commodities
    </div>
    <div class="chip" style="float:left;width:48%" ng-if="ifLabel[2]">
        <img src="../img/commodities.jpg" alt="Commodities">
        Stocks
    </div>
    <div class="chip" style="float:left;width:48%" ng-if="ifLabel[3]">
        <img src="../img/forex.jpg" alt="Forex">
        Forex
    </div>
</div>