<div class="container">
    <div class="container">
        <div class="col s12 m6">
            <div class="card small ">
                <div class="card-stacked">
                    <div class="card-content">
                        <!-- <span class="card-title grey-text center">BackTesting</span> -->
                        <blockquote  class="flow-text" style="font-size:16.5px;border-left: 5px solid #E8BE5D;border-left-width: 5px;border-left-style: solid;border-left-color: ##E8BE5D">
                            Backtesting is the process of testing your trading strategy on historical data.<BR>
                            Pick a Date, RoboAdvice will show your Worth according to the current strategy.
                        </blockquote>


                        <!-- Precision Selector -->
                        <!--<div class="input-field">
                            <select ng-model="precision">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">Weekly</option>
                                <option value="2">Monthly</option>
                            </select>
                            <label>Precision</label>
                        </div>-->
                        <!-- Date picker -->
                        <div style="text-align: center;">
                            <label for="picker_label">  Select Date</label>

                            <input style="width:150px; " ng-model="interval" id="picker_label" type="text" class="datepicker"><i style="" class="material-icons">date_range</i>

                        </div>
                        <div style="text-align: center;">
                            <div class="card-action">
                                <button ng-disabled="!interval" class="btn waves-effect waves-light" type="submit" name="action" ng-click="$ctrl.update()" wz-next>Next
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
