<div class="container">
    <div class="container">
        <div class="col s12 m6">
            <div class="card small ">
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title grey-text center">BackTesting</span>
                        <blockquote>
                            Backtesting is the process of testing your trading strategy on historical data.<BR>
                            Selecting a period of time, RoboAdvice will show your Worth according to the current strategy.
                        </blockquote>
                        <script>

                            $(document).ready(function() {
                                $('.datepicker').pickadate({
                                    /*
                                     selectMonths: true, // Creates a dropdown to control month
                                     */
                                    selectYears: 7, // Creates a dropdown of 15 years to control year
                                    min: new Date(2014,4,30),
                                    max: new Date,
                                });
                                $('select').material_select();
                            });
                        </script>
                        <!-- Precision Selector -->
                        <!--<div class="input-field">
                            <select ng-model="precision">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">Weekly</option>
                                <option value="2">Monthly</option>
                            </select>
                            <label>Precision</label>
                        </div>-->
                        <!-- Date picker -->
                        <div style="text-align: center;">
                            <label for="picker_label">Select Interval</label>
                            <input style="width:100px; " ng-model="interval" id="picker_label" type="text" class="datepicker"/>

                        </div>
                        <div style="text-align: center;">
                            <div class="card-action">
                                <button ng-disabled="!interval" class="btn waves-effect waves-light" type="submit" name="action" ng-click="$ctrl.update()" wz-next>Next
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
