<div class="container">
    <div class="container">
        <div class="col s12 m6">
            <div class="card small ">
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title grey-text center">BackTesting</span>
                        <span class="">
                            Backtesting is the process of testing your trading strategy on historical data.
                            Selecting a period of time, RobAdvice will show your Worth according to the current strategy.
                        </span>
                        <!-- Precision Selector -->
                        <!--<div class="input-field">
                            <select ng-model="precision">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">Weekly</option>
                                <option value="2">Monthly</option>
                            </select>
                            <label>Precision</label>
                        </div>-->
                        <!-- Date picker -->
                        <label for="picker_label">Select Interval</label>
                        <input ng-model="interval" id="picker_label" type="text" class="datepicker" />
                        <div style="text-align: center;">

                            <button ng-disabled="!interval" class="btn waves-effect waves-light" type="submit" name="action" ng-click="$ctrl.update()" wz-next>Next
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
