<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <script>
        $(document).ready(function(){
            $('.datepicker').pickadate({
                selectYears: 4, // Creates a dropdown of 14 years to control year
                min: new Date(2014,3,31),
                max: new Date,
            });

            $('select').material_select();
        });
    </script>
</head>

<body>
<div ng-controller="demoController">
    <div style="text-align: center;">
        <label for="picker_label">Select Date</label>
        <input style="width:150px;" ng-model="interval" id="picker_label" type="text" class="datepicker"><i style="" class="material-icons">date_range</i>
    </div>
    <div style="text-align: center;">
        <div class="card-action">
            <button ng-if="buttonClicked" ng-disabled="!interval" class="btn waves-effect waves-light" type="submit" name="action" ng-click="update()">Next
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
    <div ng-if="!buttonClicked && spinner">
        <div style="width: 100%;" class="progress">
            <div  class="indeterminate"></div>
        </div>
        <div style="width: 30%; margin: 0 auto;">
            <img src="../img/source.gif">
        </div>
    </div>
    <div class="row" ng-if="amount!=null">

        <div class="collection col l5 m7 s12">
            <realtime-line-graph ng-if="amount!=null" vertical-axis="amount" horizzontal-axis="timestamp"
                                 realtime="false" show-dates="true"></realtime-line-graph>
        </div>

        <ul class="collection col l5 m7 s12">
            <li ng-if="strategy.getLastStrategy()" class="collection-item avatar" style="background-color: #fafafa;margin-bottom:10pt">
                <span style="font-size:24px;font-weight:500;color: teal" class="title">{{strategy.getLastStrategy().getName()}}</span>
                <a class="secondary-content"><button class="btn" style="margin:5pt" ng-click="updateOwn(strategy.getLastStrategy().getName(), strategy.getLastStrategy().getAssets())">Try</button></a>
            </li>
            <li ng-if="defStrategy.name != currentStrategy.getName()" class="collection-item avatar" style="background-color: #fafafa;margin-bottom:10pt" ng-repeat="defStrategy in standardStrategies">
                <span style="font-size:24px;font-weight:500;color: teal" class="title">{{defStrategy.name}}</span>

                <a ng-if="defStrategy.name != currentStrategy.getName()" class="secondary-content"><button class="btn" style="margin:5pt" ng-click="update(defStrategy.name)">Try</button></a>
            </li>
        </ul>
    </div>
</div>
</body>

</html>
