<div class="header_section">History</div>


<div ng-if="user.hasStrategies()" class="container" ng-cloak ng-controller="deletePending">
    <div id="timeline">
        <div class="timeline-item" ng-repeat="strategy in strategy.getHistory() | orderBy: strategy.getFormattedDate() : true | limitTo: 10  ">
            <div class="timeline-icon">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve"><path fill="#FFFFFF" d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z"/></svg>
            </div>
            <div class="timeline-content" ng-class="{'right' : $index%2}">
                <h2> {{strategy.getName()}} <strong class="date">{{strategy.getFormattedDate()}}</strong>   <span  ng-if="strategy.isPending()" class="new badge" data-badge-caption="Pending Strategy"></span>
                </h2>
                <p class="right" ng-if="strategy.isPending()">
                    <a href="#!/wizard" class="btn-floating  waves-effect waves-light cyan tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit Strategy" ><i class="material-icons">mode_edit</i></a>
                    <a ng-click="deletePending()" class="btn-floating  waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete Strategy"><i class="material-icons">delete</i></a>
                    <script>
                        $(document).ready(function(){
                            $('.tooltipped').tooltip({delay: 50});

                            $(".tooltipped").on("click", function () {
                                $('.tooltipped').tooltip('remove');
                            });
                        });
                    </script>
                </p>
                <p ng-if="!strategy.isPending()">
                   <b>Final amount:</b> <strong class="amount"> $ {{strategy.getFinalAmount()| number :2}}</strong><br />
                    <b>Initial amount:</b> <strong class="amount"> $ {{strategy.getInitialAmount() | number :2}}</strong>
                    <br/>
                </p>
                    <assets-class-graph percentages="strategy.getAssets()"></assets-class-graph>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container">
        <div class="container">

            <div ng-if="!user.hasStrategies()">
                <div  class="col m4 s12">
                    <div class="card">
                        <div style="text-align: center;" class="card-content">
                            <span style="color:black;"class="card-title">Your history will be updated tomorrow </span></span>
                            <img  style="width:70%" src="../img/002-analytics-2.png">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
