<style>

    body {
        background: #f9f9f9;
    }

</style>


<div>
    <!-- Roba Esterna commentata-->
<!--
    <link href="http://materializecss.com/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://materializecss.com/bin/materialize.js"></script>
    <script src="http://materializecss.com/js/init.js"></script>-->

    <!-- FaB -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large teal accent-4"  data-target="modal1">
            <i class="large material-icons">insert_chart</i>
        </a>
    </div>



    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet">
        <div class="modal-content">

          <h4 style="text-align: center;padding-bottom:25px; ">Trends per Asset Class</h4>
          <div class="row">
            <div class="col s3" ng-repeat="asset in portfolio.getClassAssets() track by $index">
              <div style="text-align:center">
                <b>{{CONFIG["ASSETS_NAME"][$index]}} Trend</b><br>
              </div>
              <asset-general portfolio-amount="asset" portfolio-date="portfolio.getPortfolioDates()"></asset-general>
            </div>
          </div>

        </div>
        <div class="modal-footer">
            <a href="#!/worth" class=" modal-action modal-close waves-effect teal btn-flat">Close</a>
        </div>
    </div>
    <!-- Main Container -->
    <div class="container">
        <div class="header_section">Balance
            <div class="row">
                <div class="col s12 m3" ng-repeat="difference in portfolio.getPortfolioDifferences() track by $index">
                  <!--  <div class="card teal lighten-4"> #E8BE5D  previous color teal-->
                        <div class="card" style="background-color:#E8BE5D">
                        <div class="card waves-effect waves-block waves-light">
                            <img class="activator" >
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4" style="font-size: 22px;">{{CONFIG["ASSETS_NAME"][$index]}}<i class="material-icons right">keyboard_arrow_up</i></span>
                            <!--   <p><a> {{difference | number : 2}}%</a></p> -->
                            <div>
                                <i ng-if="difference < 0" style="color:#F44336;font-size:50px;" class="material-icons losing">trending_down</i>
                                <i ng-if="difference > 0" style="color: #00e676;font-size:50px;" class="material-icons winning">trending_up</i>
                                <i ng-if="difference==0" style="color: #ffeb3b;font-size:50px;" class="material-icons constant">trending_flat</i>
                            </div>
                            <div style="font-size:20pt;letter-spacing:1pt">{{difference.percentage | number : 2}}%</div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4" style="font-size:19px;"><span class="hide-on-med-and-down" > <!--{{CONFIG["ASSETS_NAME"][$index]}} --></span><i class="material-icons right">close</i></span>
                            <span class="" style="font-size:20pt;letter-spacing:1pt;">${{difference.amount}} </span>
                        </div>
                        <!--  <div class="card-content white-text">
                              <div class="card-title">{{CONFIG["ASSETS_NAME"][$index]}}</div>
                              <p class="card-title">
                                  {{difference | number : 6}}%
                              </p>
                              <p class="card-title">
                                  <i ng-if="difference < 0" style="color:#F44336;font-size:50px;" class="material-icons losing">trending_down</i>
                                  <i ng-if="difference > 0" style="color: #00e676;font-size:50px;" class="material-icons winning">trending_up</i>
                                  <i ng-if="difference==0" style="color: #ffeb3b;font-size:50px;" class="material-icons constant">trending_flat</i>
                              </p>
                          </div>-->
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="!(user.currentPortfolio == null)">
            <div class="row">
                <div class="col s12 m12">
                    <div class="card white">
                        <div class="card-content teal-text">
                            <span class="card-title">Worth</span>
                            <worth-graph portfolio-amount="portfolio.getPortfolioAmounts()" portfolio-date="portfolio.getPortfolioDates()"></worth-graph>
                        </div>
                        <!--<div class="card-action">
                            <a href="#">Luca</a>
                            <a href="#">Michele</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
       <!-- <div class="card ">

            <div class="carousel carousel-slider center" fullWidth="false"	 data-indicators="true">
                <div class="carousel-fixed-item center">
                </div>
                <div class="carousel-item red white-text" href="#one!">
                    <h2>{{CONFIG["ASSETS_NAME"][0]}}</h2>
                    <asset-general portfolio-amount="portfolio.getPortfolioDates()" portfolio-date="portfolio.getClassAssets()[0]"></asset-general>
                </div>
                <div class="carousel-item amber white-text" href="#two!">
                    <h2>{{CONFIG["ASSETS_NAME"][1]}}</h2>
                    <p class="white-text">Sezione 2</p>
                    <asset-general portfolio-amount="portfolio.getPortfolioDates()" portfolio-date="portfolio.getClassAssets()[1]"></asset-general>
                </div>
                <div class="carousel-item green white-text" href="#three!">
                    <h2>{{CONFIG["ASSETS_NAME"][2]}}</h2>
                    <p class="white-text">sezione 3</p>
                    <asset-general portfolio-amount="portfolio.getPortfolioDates()" portfolio-date="portfolio.getClassAssets()[2]"></asset-general>
                </div>
                <div class="carousel-item blue white-text" href="#four!">
                    <h2>{{CONFIG["ASSETS_NAME"][3]}}</h2>
                    <p class="white-text">Sezione 4</p>
                    <asset-general portfolio-amount="portfolio.getPortfolioDates()" portfolio-date="portfolio.getClassAssets()[3]"></asset-general>
                </div>
            </div>
        </div>-->
    </div>

    <script>
        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });


    </script>
</div>

<div class="container">
    <div class="container">
        <div class="container">

            <div ng-if="(user.currentPortfolio) == null">
                <div ng-if="user.currentPortfolio == null">
                    <div  class="col m4 s12">
                        <div class="card">
                            <div style="text-align: center;" class="card-content">
                                <span style="color:black;"class="card-title">Your balance will be updated tomorrow </span></span>
                                <img  style="width:70%" src="../img/001-analytics-3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
