
/*.fixed {*/
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*margin-top: 0px !important;!**!*/
/*}*/

/*.item-1 {*/
  /*!* First item will always remain fixed *!*/
  /*position: fixed;*/
  /*top: 0;*/
/*}*/

/*.item-2 {*/
  /*!* Second Item will have a marginTop equal to first section height *!*/
  /*margin-top: 80vh;*/
/*}*/


/*!* ============== End ===================== *!*/


/*!* These all are just meant for styling the page *!*/

/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5 {*/
  /*font-family: Roboto, sans-serif;*/
    /*font-weight: 200;*/
/*}*/

/*h1 {*/
  /*font-size: 50px;*/
  /*border-bottom: 4px solid rgba(0, 0, 0, .8);*/
  /*padding-bottom: 10px;*/
/*}*/

/*a {*/
  /*text-decoration: none;*/
/*}*/

/*.fa {*/
  /*font-size: 15em !important;*/
/*}*/

/** {*/
  /*box-sizing: border-box;*/
  /*font-family: 'Open Sans', sans-serif;*/
  /*color: rgba(0, 0, 0, .8);*/
  /**/
/*}*/

/*body {*/
  /*margin: 0;*/
  /*padding: 0;*/
/*}*/

/*.item {*/
  /*width: 100%;*/
  /*height: 80vh;*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: space-around;*/
  /*align-items: center;*/
/*}*/

/*.item-1 {*/
  /*background-color: #f4f4f4 ;*/
  /*z-index: -5;*/
/*}*/

/*.item-2 {*/
  /*background-color: #3c74d9 ;*/
  /*z-index: -4;*/
/*}*/

/*.item-3 {*/
  /*background-color: #60ae4d ;*/
  /*z-index: -3;*/
/*}*/

/*.item-4 {*/
  /*background-color: #f34248;*/
  /*z-index: -2;*/
/*}*/

/*.item-5 {*/
  /*background-color: #444;*/
  /*z-index: -1;*/


/*.col-5 {*/
  /*max-width: 500px;*/
/*}*/

/*@media (max-width: 700px) {*/
  /*h1 {*/
    /*font-size: 18px;*/
  /*}*/
  /*.fa {*/
    /*font-size: 2em !important;*/
  /*}*/
/*}*/